.zpl_setup_img {
    background-image: url(../images/setup.svg);
    background-repeat: no-repeat;
}

.zpl_admin_img {
    background-image: url(../images/admin.svg);
    background-repeat: no-repeat;
}

.zpl_flupld_img {
    background-image: url(../images/fileupload.png);
    background-repeat: no-repeat;
    background-size: 100%;
}