.zp_nd_bluprnt {
    background-image: url(../images/add_blueprint.svg);
}

.zp_nd_avlblst {
    background-image: url(../images/available_states.svg);
}

.zp_nd_brk {
    background-image: url(../images/break.svg);
}

.zp_nd_disbldprt {
    background-image: url(../images/disable_department.svg);
}

.zp_nd_disbldsgn {
    background-image: url(../images/disable_designation.svg);
}

.zp_nd_exprthst {
    background-image: url(../images/export_history.svg);
}

.zp_nd_georestrict {
    background-image: url(../images/geo_restriction.svg);
}

.zp_nd_imprthst {
    background-image: url(../images/import_history.svg);
}

.zp_nd_iprestrict {
    background-image: url(../images/ip_restriction.svg);
}

.zp_nd_noactvty {
    background-image: url(../images/no_activity.svg);
}

.zp_nd_aprvlconf {
    background-image: url(../images/no_approval_configured_yet.svg);
}

.zp_nd_brthbud {
    background-image: url(../images/no_birthday_buddies_found.svg);
}

.zp_nd_chkin_out {
    background-image: url(../images/no_check_in_and_check_out.svg);
}

.zp_nd_checkin {
    background-image: url(../images/no_checkin_configured.svg);
}

.zp_nd_client {
    background-image: url(../images/no_clients.svg);
}

.zp_nd_custmbtn {
    background-image: url(../images/no_custom_btn_configured.svg);
}

.zp_nd_custmfunc {
    background-image: url(../images/no_custom_functions_configured.svg);
}

.zp_nd_nodata {
    background-image: url(../images/no_data_found.svg);
}

.zp_nd_nodata1 {
    background-image: url(../images/no_data_found_1.svg);
}

.zp_nd_deprtmnt {
    background-image: url(../images/no_department.svg);
}

.zp_nd_desgn {
    background-image: url(../images/no_designation.svg);
}

.zp_nd_domain {
    background-image: url(../images/no_domain_configured.svg);
}

.zp_nd_emailtemp {
    background-image: url(../images/no_email_template_configured.svg);
}

.zp_nd_empprfl {
    background-image: url(../images/no_employee_profile.svg);
}

.zp_nd_esign {
    background-image: url(../images/no_esign_documents.svg);
}

.zp_nd_extnsn {
    background-image: url(../images/no_extensions_found.svg);
}

.zp_nd_failwebhk {
    background-image: url(../images/no_failure_webhooks.svg);
}

.zp_nd_faq {
    background-image: url(../images/no_faq_available.svg);
}

.zp_nd_feed {
    background-image: url(../images/no_feeds.svg);
}

.zp_nd_fldupdt {
    background-image: url(../images/no_field_update_configured.svg);
}

.zp_nd_file {
    background-image: url(../images/no_files_found.svg);
}

.zp_nd_fldr {
    background-image: url(../images/no_folder.svg);
}

.zp_nd_grpcrt {
    background-image: url(../images/no_groups_created.svg);
}

.zp_nd_jobfound {
    background-image: url(../images/no_jobs_found.svg);
}

.zp_nd_jobrprt {
    background-image: url(../images/no_jobs_reports.svg);
}

.zp_nd_locat {
    background-image: url(../images/no_location.svg);
}

.zp_nd_mailmrgtemp {
    background-image: url(../images/no_mail_merge_template_configured.svg);
}

.zp_nd_mailschedule {
    background-image: url(../images/no_mail_scheduler_configured.svg);
}

.zp_nd_permission {
    background-image: url(../images/no_permission.svg);
}

.zp_nd_project {
    background-image: url(../images/no_projects.svg);
}

.zp_nd_qcklnk {
    background-image: url(../images/no_quick_links.svg);
}

.zp_nd_record {
    background-image: url(../images/no_record.svg);
}

.zp_nd_regularization {
    background-image: url(../images/no_regularization.svg);
}

.zp_nd_reminder {
    background-image: url(../images/no_reminder.svg);
}

.zp_nd_reprtschdl {
    background-image: url(../images/no_report_scheduler_configured.svg);
}

.zp_nd_rprtilustr {
    background-image: url(../images/no_reports_illustrated.svg);
}

.zp_nd_rprtshrd {
    background-image: url(../images/no_reports_shared_with_you.svg);
}

.zp_nd_reqstrecvd {
    background-image: url(../images/no_request_received.svg);
}

.zp_nd_reqstsubmt {
    background-image: url(../images/no_request_submitted.svg);
}

.zp_nd_schdlrcnf {
    background-image: url(../images/no_scheduler_configured.svg);
}

.zp_nd_selfaprsl {
    background-image: url(../images/no_self_appraisal_records.svg);
}

.zp_nd_setngcnf {
    background-image: url(../images/no_setting_configured.svg);
}

.zp_nd_skill {
    background-image: url(../images/no_skills.svg);
}

.zp_nd_skillrprt {
    background-image: url(../images/no_skills_reports.svg);
}

.zp_nd_tgskill {
    background-image: url(../images/no_tag_skills.svg);
}

.zp_nd_timelog {
    background-image: url(../images/no_time_log.svg);
}

.zp_nd_usridmap {
    background-image: url(../images/no_user_id_mapped.svg);
}

.zp_nd_usrrate {
    background-image: url(../images/no_user_rate_configured.svg);
}

.zp_nd_workflow {
    background-image: url(../images/no_workflow_configured.svg);
}

.zp_nd_overtmedata {
    background-image: url(../images/overtime_data_via_scheduler.svg);
}

.zp_nd_salary {
    background-image: url(../images/salary_not_updated.svg);
}

.zp_nd_cases {
    background-image: url(../images/no_cases_available.svg);
}

.zp_nd_task {
    background-image: url(../images/no_tasks_available.svg);
}

.zp_nd_template {
    background-image: url(../images/no_templates.svg);
}

.zp_nd_upgrade {
    background-image: url(../images/upgrade.svg);
}

.zp_nd_upgrade1 {
    background-image: url(../images/upgrade_1.svg);
}

.zp_nd_users {
    background-image: url(../images/users.svg);
}

.zp_nd_room {
    background-image: url(../images/no_room.svg);
}

.zp_nd_trainer {
    background-image: url(../images/no_trainer.svg);
}