/*********** common start **********/
.zpl_bggry { background: #f6f6f6; padding: 20px; }

.zpl_emcrdlst { display: grid; grid-template-columns: repeat(auto-fill, minmax(280px, 0fr)); gap: 20px; }

.zpl_emcrd { display: flex; flex-direction: column; background-color: var(--white); border-radius: 8px; box-shadow: var(--crdshdw); padding: 20px; min-height: 300px; position: relative; }

.zpl_emcrd .zpl_emcrdcnt { display: flex; flex-direction: column; gap: 18px; position: relative; }

.zpl_emcrd .zpl_emcrdftr { margin-top: auto; border-top: 1px solid #f2f2f2; padding-top: 15px; }

.onlin { background: var(--primarygrnclr); }

.onlin, .oflin, .idle, .busy { width: 10px; height: 10px; border-radius: 50%; position: absolute; right: -4px; bottom: -2px; }

.zpl_emstus { border-radius: 6px; padding: 6px 10px 4px; display: flex; justify-content: space-between; align-self: flex-start; gap: 20px; }

.zpl_emstus.zpl_oficein { background: var(--primarygrnligtclr); color: var(--primarygrnclr); }

.zpl_emstus.zpl_sl { background: var(--primaryredligtclr); color: var(--primaryredclr); }

.zpl_emstus.zpl_dty { background: var(--primarybluligtclr); color: var(--primarybluclr); }

.zpl_emstus.zpl_permsn { background: var(--primaryylwligtclr); color: var(--primaryylwclr); width: 100%; }

.zpl_emrole { display: flex; gap: 7px; flex-direction: column; align-items: flex-start; }

.zpl_emprog .zpl_progtitle { display: flex; justify-content: space-between; }

.section_title { margin: 20px 0; }

/*********** common end **********/
/*********** direct reportees start ***********/
.zpl_dirctreprtis .zpl_addfav i { position: absolute; right: 0; cursor: pointer; }

.zpl_dirctreprtis .txttrim { width: auto; max-width: 100%; }

.zpl_dirctreprtis .zpl_emchat { display: none; }

.zpl_dirctreprtis .zpl_emcrd:hover .zpl_emchat { cursor: pointer; position: absolute; left: 0; right: 0; bottom: -14px; display: flex; align-items: center; justify-content: center; }

.zpl_dirctreprtis .zpl_emcrd:hover .zpl_emchat ::before { width: 30px; height: 30px; border-radius: 50%; box-shadow: 0 0 5px #ddd; background: var(--white); display: flex; align-items: center; justify-content: center; }

.zpl_dirctreprtis .zpl_emcrd .zpl_em, .zpl_tmlve .zpl_emcrd .zpl_em { align-items: end; }

.zpl_dirctreprtis .zpl_emcrd .zpl_em .zpl_emimg, .zpl_tmlve .zpl_emcrd .zpl_em .zpl_emimg { overflow: visible; }

/*********** direct reportees end ***********/
/*********** team leave start **********/
.zpl_tmlvestus { display: flex; flex-direction: column; justify-content: space-between; gap: 10px; }

.zpl_tmlvestus b, .zpl_tmlvestus span { display: flex; justify-content: space-between; }

/*********** team leave end **********/
/*********** Approval left panel start **********/
.zpl_aprvemcrdlst { display: inline-grid; grid-template-columns: repeat(auto-fill, minmax(300px, 0fr)); gap: 5px; }

.zpl_aprvemcrd { background: #e4e6ef; border-radius: 6px; display: flex; padding: 15px 12px 12px; gap: 5px; }

.zpl_aprvemcrd .zpl_em { align-items: normal; }

.zpl_aprvemcrd .zpl_em .zpl_emimg { border-radius: 10px; border: 0; }

.zpl_aprvemcrd .zpl_em .zpl_emdts { line-height: 20px; }

.zpl_aprvemcrd .zpl_em .zpl_emdts div em { display: flex; margin-bottom: 8px; }

.zpl_aprvemcrd.zpl_act { background: var(--white); border: 1px solid #0088ff67; border-left: 3px solid #0088ff; }

/*********** Approval left panel end **********/
/*********** Approval right panel start **********/
.zpl_aprv_rgtpanl { display: grid; grid-template-columns: repeat(auto-fill, minmax(320px, 0fr)); gap: 20px; }

.zpl_aprvcrd { background: var(--white); padding: 20px; border-radius: 6px; display: flex; flex-direction: column; gap: 20px; }

.zpl_aprvcrd .zpl_atendtls { display: flex; gap: 30px; flex-direction: column; }

.zpl_aprvcrd .zpl_lvebalnc { display: flex; flex-direction: column; gap: 15px; }

.zpl_aprvcrd .zpl_slbalnc { display: flex; align-items: baseline; gap: 5px; }

.zpl_aprvcrd .zpl_slbalnc b { font-size: 28px; }

.zpl_aprvcrd .zpl_slbalnc em { font-size: var(--fontSz16); }

.zpl_aprvcrd .zpl_idiv { justify-content: flex-end; }

.zpl_lvlst { display: flex; flex-direction: column; gap: 15px; border-bottom: 1px solid #ddd; padding-bottom: 18px; }

.zpl_lvlst:last-child { border: 0; padding: 0; }

.zpl_tmdtls { display: flex; flex-direction: column; gap: 15px; }

.zpl_slb { display: flex; justify-content: space-between; }

.zpl_punch { display: flex; margin-left: -15px; }

.zpl_emlve { background: #F6F7FB; padding: 15px; margin: 10px 0; border-radius: 12px; display: flex; justify-content: space-between; gap: 30px; }

.zpl_emlve .zpl_emlvergt .zpl_em { gap: 20px; }

.zpl_emlve .zpl_emlvergt .zpl_emimg { overflow: visible; display: flex; }

.zpl_emlve .zpl_emlvergt .zpl_emimg img { border: 2px solid #fff; border-radius: 12px; margin: 0 -5px; }

.zpl_arwlst { display: flex; gap: 10px; }

.zpl_arwlst div { display: flex; flex-direction: column; }

.zpl_aprv_stus { display: flex; gap: 15px; justify-content: space-between; }

.zpl_aprv_stus .zpl_rgtaprv { display: flex; gap: 5px; }

.zpl_tick { background: #30bc8a; width: 18px; height: 18px; border-radius: 50%; text-align: center; line-height: 20px; font-size: 10px; }

.zpl_bradscr { display: flex; justify-content: space-between; }

.zpl_bradscr .zpl_bradlevl { display: flex; gap: 5px; }

.zpl_bradscr .zpl_bradlevl b { font-size: var(--fontSz20); }

.zpl_bradscr .zpl_bradtxt { display: flex; flex-direction: column; gap: 5px; }

.zpl_bradscr .zpl_bradtxt em { font-size: var(--fontSz12); }

.zpl_tblcrd { display: flex; flex-direction: column; gap: 20px; }

.zpl_tblcrd table tr td, .zpl_tblcrd table tr th { font-weight: normal; padding: 0 10px 25px 0; }

.zpl_tblcrd table tfoot td { padding: 20px 0; background: #F6F7FB; }

.zpl_tblcrd table tfoot td:first-child { padding-left: 12px; border-radius: 6px 0 0 6px; }

.zpl_tblcrd table tfoot td:last-child { border-radius: 0 6px 6px 0; }

.zpl_tblcrd .d-flexC { gap: 10px; }

.zpl_tmly { margin: auto; padding: 20px; gap: 10px; align-items: center; background-color: var(--bordercolor); border-radius: 8px; font-size: var(--fontSz14); display: flex; flex-direction: column; }

.zpl_tmly b { font-size: var(--fontSz24); }

/*********** Approval right panel end **********/
