{{!-- <div class="zpl_secn">
    <div>
        <h5> No actions defined</h5>
        <p>Workflow is the definition, execution and automation of business processes:
            where tasks, information and documents are passed from one person to another for action according to
            a
            set of procedural rules.
        </p>
    </div>
    <div>
        <a href="#" class="zlabel zlabel--blue zlabel--outline zlabel--medium ">Mail alert</a>
        <a href="#" class="zlabel zlabel--blue zlabel--outline zlabel--medium ">Web hooks</a>
        <a href="#" class="zlabel zlabel--blue zlabel--outline zlabel--medium "> Checklist</a>
        <a href="#" class="zlabel zlabel--blue zlabel--outline zlabel--medium "> Field update</a>
        <a href="#" class="zlabel zlabel--blue zlabel--outline zlabel--medium ">Custom function</a>
    </div>
</div> --}}

{{!-- <div class="zpl_secn zpl_mailtmp">
    <div>
        <h5>Mail alert</h5>
    </div>
    <div class="">
        <div class="zpl_inpgrp">
            <div class="zpl_frmctrl">
                <div class="zpl_tgrp">
                    <div class="zpl_tg"><i class="IC-cls"></i><a>Welcome new Employee</a> </div>
                    <div class="zpl_tg"><i class="IC-cls"></i><a>Employee details modified</a> </div>
                </div>
            </div>
            <a class="grp_add"><i class="IC-Pls"></i>
                <i class="IC-addlist"></i>
            </a>
        </div>
    </div>
</div>

<div class="zpl_secn zpl_mailtmp">
    <div>
        <h5>Field updates</h5>
    </div>
    <div>
        <div class="zpl_inpgrp">
            <div class="zpl_frmctrl">

            </div>
            <a class="grp_add"><i class="IC-Pls"></i>
                <i class="IC-addlist"></i>
            </a>
        </div>
    </div>
</div>
<div class="zpl_secn zpl_mailtmp">
    <div>
        <h5>Checklist</h5>
    </div>
    <div>
        <div class="zpl_inpgrp">
            <div class="zpl_frmctrl">

            </div>
            <a class="grp_add">
                <i class="IC-Pls"></i>
                <i class="IC-addlist"></i>
            </a>
        </div>
    </div>
</div>

<div class="zpl_secn zpl_mailtmp">
    <div>
        <h5>Webhooks</h5>
    </div>
    <div>
        <div class="zpl_inpgrp">
            <div class="zpl_frmctrl">

            </div>
            <a class="grp_add">
                <i class="IC-Pls"></i>
                <i class="IC-addlist"></i>
            </a>
        </div>
    </div>
</div>
<div class="zpl_secn zpl_mailtmp">
    <div>
        <h5>Custom function</h5>
    </div>
    <div>
        <div class="zpl_inpgrp">
            <div class="zpl_frmctrl">

            </div>
            <a class="grp_add">
                <i class="IC-Pls"></i>
                <i class="IC-addlist"></i>
            </a>
        </div>
    </div>
</div> --}}


<div class="zpl_gbox wd100_per">
    <div class="zpl_gbxttl">
        <div>
        <h4>Mail alert</h4>
        </div>
        <div class="zpl_gbxrgt">
            <i class="IC-add"></i>
            <i class="IC-addlist"></i>
        </div>
    </div>
    <div class="zpl_idiv">
        <table class="zpl_tblbdr zpl_tblcrsor zpl_whtbg">
            <tbody>
                <tr>
                    <td>
                        <b>Welcome new Employee</b>
                    </td>
                    <td>
                        <div class="zpl_hvr">
                            <i class="IC-delete-1px"></i>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td><b>Employee details modified</b>

                    </td>
                    <td>
                        <div class="zpl_hvr">
                            <i class="IC-delete-1px"></i>
                        </div>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="zpl_gbox wd100_per">
    <div class="zpl_gbxttl">
        <div>
        <h4>Field Updates</h4>
        </div>
        <div class="zpl_gbxrgt">
            <i class="IC-add"></i>
            <i class="IC-addlist"></i>
        </div>
    </div>
</div>
<div class="zpl_gbox wd100_per">
    <div class="zpl_gbxttl">
        <div>
        <h4>Checklist</h4>
        </div>
        <div class="zpl_gbxrgt">
            <i class="IC-add"></i>
            <i class="IC-addlist"></i>
        </div>
    </div>
</div>
<div class="zpl_gbox wd100_per">
    <div class="zpl_gbxttl">
        <div>
        <h4>Webhooks</h4>
        </div>
        <div class="zpl_gbxrgt">
            <i class="IC-add"></i>
            <i class="IC-addlist"></i>
        </div>
    </div>
</div>
<div class="zpl_gbox wd100_per">
    <div class="zpl_gbxttl">
        <div>
        <h4>Custom functions</h4>
        </div>
        <div class="zpl_gbxrgt">
            <i class="IC-add"></i>
            <i class="IC-addlist"></i>
        </div>
    </div>
</div>