<div class="zpl_secn">
    <div class="zpl_cndor">
        <div class="zpl_gbox">
            <div class="zpl_idiv">
                <select class="select-js">
                    <option>Gender</option>
                </select>
                <span>is</span>
                <input type="text" class="ztextbox" value="">
                <i class="IC-delete-1px"></i>
            </div>
            <div class="zpl_idiv">
                <a class="zpl_lnkbg"><i class="IC-add"></i> Add Condition</a>
            </div>
            <div class="zpl_cndop">
                <span>OR</span>
            </div>
        </div>
        <div class="zpl_gbox">
            <div class="zpl_idiv">
                <select class="select-js">
                    <option>Employee</option>
                </select>
                <span>is</span>
                <input type="text" class="ztextbox" value="">
            </div>
        </div>
    </div>
</div>