<div class="zpl_secn">
    <div>
        <div class="zpl_idiv">
            <div class="zpl_rwfld">
                <select class="select-js">
                    <option>Reporting To</option>
                </select>
            </div>
            <div class="zpl_rwfld">
                <select class="select-js">
                    <option>Single level</option>
                </select>
            </div>
            <div class="zpl_rwfld zpl_rwicn">
                <i class="IC-delete-1px"></i>
            </div>
        </div>
        <div class="zpl_idiv">
            <a class="zpl_lnkbg"><i class="IC-add"></i> Add Condition</a>
        </div>
    </div>
</div>


<div class="zpl_secn">
    <div>
        <div class="zpl_aprvl_flw">
            <div>
                <label>
                    Appraisal Facilitator (Employee ID)
                </label>
                <i class="IC-ar-rgt"></i>
                <label>
                    Admin HRM1 Admin LMS User 1 Admin LMS User 1
                </label>
                <i class="IC-ar-rgt"></i>
                <label>
                    Department Head of Record Owner
                </label>
                <i class="IC-ar-rgt"></i>
                <label>
                    Project Managers
                </label>
                <i class="IC-ar-rgt"></i>
                <div>
                    <font class="grn">Approval</font> / <font class="red">Rejected</font>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="zpl_secn">
    <div>
        <div class="zpl_tgl">
            <input class="togbutton-js"> <span>Enable follow-up option for this approval</span>
        </div>
        <div class="zpl_tbox">
            <div>
                <div class="zradiobutton zradiobutton--horizontal">
                    <input type="radio" name="bookingType" value="" class="zradiobutton__helper" checked="">
                    <label class="zradiobutton__label">
                        <span class="zradiobutton__text">One-time </span>
                    </label>
                </div>
                <div class="zradiobutton zradiobutton--horizontal">
                    <input type="radio" name="bookingType" value="" class="zradiobutton__helper">
                    <label class="zradiobutton__label">
                        <span class="zradiobutton__text">Repeat</span>
                    </label>
                </div>
            </div>
            <div class="zpl_gbox">

                <div class="zpl_idiv">
                    <span>One-time follow-up after</span>
                    <input type="text" class="ztextbox" value="1">
                    <span>day(s) from the approval trigger date.</span>
                </div>

                <div class="zpl_idiv">
                    <div class="zcheckbox zcheckbox--horizontal">
                        <input type="checkbox" name="check" value="" checked class="zcheckbox__helper">
                        <label class="zcheckbox__label">Follow-up email sent at</label>
                    </div>
                    <input type="text" class="ztextbox" value="10">
                </div>
                <div class="zpl_idiv">
                    <div class="zpl_info">
                        <i class="IC-info1"></i> Approval request time will be considered if follow-up time is not
                        provided.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>