<div class="zpl_secn">
                                <div>
                                    <h5> Attachment 1</h5>
                                </div>
                                <div>
                                    <!-- upload -->
                                    <div class="zpl_upld">
                                        <!-- File upload -->
                                        <div class="zpl_fldrp">
                                            <img src="../../../images/fileupload.png" alt="">
                                            <h4>Drag and drop files here</h4>
                                            <p>File supported: PDF, XLS, Image, MP4, MP3</p>
                                            <button class="zlabel zlabel--blue zlabel--medium">Choose File</button>
                                            <p>Maximum File size: 5MB</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="zpl_secn">
                                <div>
                                    <h5>Attachment 2</h5>
                                </div>
                                <div>
                                    <!-- upload -->
                                    <div class="zpl_upld">
                                        <!-- File upload -->
                                        <div class="zpl_fldrp">
                                            <h5><img src="../../../images/fileupload.png" alt="">Drag and drop files here, or Upload from <a class="zpl_lnk"><i class="PI_case"></i>Desktop</a> / <a class="zpl_lnk"><i class="PI_cloud"></i>Workdrive</a> / <a class="zpl_lnk"><i class="PI_cloud"></i>Cloud</a></h5>
                                        </div>
                                        <p>
                                            <span>Files supported: PDF, XLS, Image, MP4, MP3</span>
                                            <span>Maximum size: 5MB</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="zpl_secn">
                                <div>
                                    <h5>Attachment Files</h5>
                                </div>
                                <div>
                                    <div class="zpl_atchd">
                                        <div>
                                            <div class="zpl_atchimg">
                                                <i class="IC-Apdf zpl_fl_typ"></i>
                                            </div>
                                            <div class="zpl_atchdtl">
                                                <h4>Attachment 1</h4>
                                                <p><span>10 MB</span></p>
                                            </div>
                                            <div class="zpl_atchicn">
                                                <i class="IC-delete-1px"></i>
                                            </div>
                                            <div class="zpl_prgbr">
                                                <div>
                                                    <div style="width:38%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="zpl_atchimg">
                                                <img src="../../images/zpic-2.jpg" alt="">
                                            </div>
                                            <div class="zpl_atchdtl">
                                                <h4>Attachment 2</h4>
                                                <p><span>10 MB</span></p>
                                            </div>
                                            <div class="zpl_atchicn">
                                                <i class="IC-delete-1px"></i>
                                            </div>
                                            <div class="zpl_prgbr">
                                                <div>
                                                    <div style="width:50%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="zpl_flerr">
                                            <div class="zpl_atchimg">
                                                <i class="IC-Apdf zpl_fl_typ"></i>
                                            </div>
                                            <div class="zpl_atchdtl">
                                                <h4>Attachment 1</h4>
                                                <p><span><i class="IC-reload"></i>Retry</span></p>
                                            </div>
                                            <div class="zpl_atchicn">
                                                <i class="IC-delete-1px"></i>
                                            </div>
                                            <div class="zpl_prgbr">
                                                <div>
                                                    <div style="width:38%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="zpl_flerr">
                                            <div class="zpl_atchimg">
                                                <img src="../../images/zpic-2.jpg" alt="">
                                            </div>
                                            <div class="zpl_atchdtl">
                                                <h4>Attachment 2</h4>
                                                <p><span><i class="IC-reload"></i>Retry</span></p>
                                            </div>
                                            <div class="zpl_atchicn">
                                                <i class="IC-delete-1px"></i>
                                            </div>
                                            <div class="zpl_prgbr">
                                                <div>
                                                    <div style="width:50%"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="zpl_atchimg">
                                                <i class="IC-Apdf zpl_fl_typ"></i>
                                            </div>
                                            <div class="zpl_atchdtl">
                                                <h4>Attachment 1</h4>
                                                <p><span>10 MB</span></p>
                                            </div>
                                            <div class="zpl_atchicn">
                                                <i class="IC-delete-1px"></i>
                                            </div>
                                        </div>
                                        <div>
                                            <div class="zpl_atchimg">
                                                <img src="../../images/zpic-2.jpg" alt="">
                                            </div>
                                            <div class="zpl_atchdtl">
                                                <h4>Attachment 2</h4>
                                                <p><span>10 MB</span></p>
                                            </div>
                                            <div class="zpl_atchicn">
                                                <i class="IC-delete-1px"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>