{{!-- Autosave --}}
<div class="zpl_atosv">
    {{!-- <i class="IC-Success"></i> --}}
    <div class="zpl_atocnt">
        <div class="zpl_atoprg">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
        </div>
        <i class="IC-Success"></i>
        <span>Saving...</span>
    </div>
</div>