<div class="zpl_secn">
    <div>
        <div class="zpl_idiv">
            <div class="zpl_rwfld zpl_rwnum"><span>1</span></div>
            <div class="zpl_rwfld">

            </div>
            <div class="zpl_rwfld">
                <input type="text" class="ztextbox" value="">
            </div>
            <div class="zpl_rwfld">
                <select class="select-js">
                    <option>None</option>
                </select>
            </div>
            <div class="zpl_rwfld">
                <input type="text" class="ztextbox" value="">
            </div>
            <div class="zpl_rwfld zpl_rwicn">
                <i class="IC-delete-1px"></i>
            </div>
        </div>
        <div class="zpl_idiv">
            <div class="zpl_rwfld zpl_rwnum"><span>2</span></div>
            <div class="zpl_rwfld">
                <select class="select-js">
                    <option>AND</option>
                </select>
            </div>
            <div class="zpl_rwfld">
                <input type="text" class="ztextbox" value="">
            </div>
            <div class="zpl_rwfld">
                <select class="select-js">
                    <option>None</option>
                </select>
            </div>
            <div class="zpl_rwfld">
                <input type="text" class="ztextbox" value="">
            </div>
            <div class="zpl_rwfld zpl_rwicn">
                <i class="IC-delete-1px"></i>
            </div>
        </div>
        <div class="zpl_idiv">
            <a class="zpl_rwalgn zpl_lnkbg"><i class="IC-add"></i> Add Condition</a>
        </div>
    </div>
</div>
<div class="zpl_secn">
    <div>
        <label>Criteria Pattern <a>Edit</a></label>
    </div>
    <div>
        <input type="text" placeholder="" class="ztextbox" value="(1 AND 2)">
    </div>
</div>