<div class="zpl_secn">
    <div>
        <div class="zpl_btnmnu">
            <div class="zpl_rgt">
                <button class="zlabel zlabel--blue zlabel--medium" data-popup-open="addfaq">Add FAQ</button>
            </div>
        </div>
        <table class="zpl_tblbdr zpl_faqlst">
            <tr>
                <td width="40">
                    <i class="CR-drag"></i>
                </td>
                <td width="40">Q1: </td>
                <td>
                    <h6> Imagine yourself in three years. What do you hope will be different about you then compared
                        to now?</h6>
                    <div class="DN">
                        <p><b>Answer is :</b> <em>What do you hope will be different about you then compared to
                                now</em></p>
                    </div>
                </td>
                <td width="120">
                    <div class="zpl_hvr">
                        <i class="IC-pen-1px "></i>
                        <i class="IC-delete-1px"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="40"><i class="CR-drag"></i></td>
                <td width="40">Q2: </td>
                <td>
                    <h6> For the last few companies you've been at, take me through: (i) When you left, why did you
                        leave? (ii) When you joined the next one, why did you choose it?</h6>
                    <div class="DN">
                        <p><b>Answer is :</b> <em>What do you hope will be different about you then compared to
                                now</em></p>
                    </div>
                </td>
                <td width="120">
                    <div class="zpl_hvr">
                        <i class="IC-pen-1px "></i>
                        <i class="IC-delete-1px"></i>
                    </div>
                </td>
            </tr>
            <tr>
                <td width="40"><i class="CR-drag"></i></td>
                <td width="40">Q3: </td>
                <td>
                    <h6> For the last few companies you've been at, take me through?</h6>
                    <div class="DN">
                        <p><b>Answer is :</b> <em>What do you hope will be different about you then compared to
                                now</em></p>
                    </div>
                </td>
                <td width="120">
                    <div class="zpl_hvr">
                        <i class="IC-pen-1px "></i>
                        <i class="IC-delete-1px"></i>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>