<div class="zpl_secn">
    <div>
        <table class="zpl_tblbdr">
            <tbody>
                <tr>
                    <td width="50">
                        <input class="togbutton-js">
                    </td>
                    <td><b>Form Name 1</b></td>
                    <td width="120">
                        <div class="zpl_hvr">
                            <i class="IC-clone "></i>
                            <i class="IC-delete-1px"></i>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <input class="togbutton-js">
                    </td>
                    <td><b>Form Name 2</b></td>
                    <td>
                        <div class="zpl_hvr">
                            <i class="IC-clone "></i>
                            <i class="IC-delete-1px"></i>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>