{{!-- <a class="logo_l"></a> --}}
<div class="zpl_lmnulst">
    <div class="zpl_act tooltip-js" onclick="moduswtch('homelanding1',this)" modname="home" data-title-position="right" title="Home">
        <i class="PI_fil_home"></i><span>Home</span>
    </div>
    <div class="tooltip-js" onclick="moduswtch('leavelanding1',this)" modname="leave" data-title-position="right" title="leave">
        <i class="PI_fil_askus"></i><span>To-Do's</span>
        {{!-- <em class="notfiy"></em> --}}
    </div>
    <div class="tooltip-js" onclick="moduswtch('asklanding1',this)" modname="ask" data-title-position="right" title="Askus">
        <i class="PI_fil_training"></i><span>Ask Us</span>
    </div>
   <div class="zpl_ladd custmvw tooltip-js" onclick="moduswtch('feed1',this)" modname="leave" data-title-position="right" title="Feeds">
        <i class="PI_comment"></i><span>Feeds</span>
    </div>
    <div class="custmvw tooltip-js" onclick="moduswtch('channel1',this)" modname="ask" data-title-position="right" title="Channel">
        <i class="PI_usr"></i><span>Channel</span>
    </div>
    <div class="zpl_ladd custmvw tooltip-js" modname="performance" data-title-position="right" title="Expense">
        <i style="    background: url(../../images/settings/zp-spriteinteg.png);background-size: 314px;background-position: -74px -84px;"></i><span>Expense</span>
    </div>
    <div class="custmvw tooltip-js" modname="lms" data-title-position="right" title="Recruit">
        <i style="    background: url(../../images/settings/zp-spriteinteg.png);    background-size: 308px;background-position: 12px -111px;"></i><span>Recruit</span>
    </div>
    <div class="zpl_ladd tooltip-js" onclick="moduswtch('customlanding1',this)" modname="customize" data-title-position="right" title="Customize">
        <i class="IC-plus-round"></i>
        <span>Customize</span>
    </div>
</div>
<div class="zpl_lbtm">
    <div class="tooltip-js" onclick="moduswtch('')" modname="" data-title-position="right" title="Reports">
        <i class="PI_fil_reports"></i><span>Reports</span>
    </div>
    {{!-- <div class="tooltip-js" onclick="moduswtch('settings')" modname="settings" data-title-position="right" title="Settings">
        <i class="PI_setting"></i><span>Settings</span>
    </div> --}}
    
    {{!-- <div class="tooltip-js" onclick="moduswtch('')" data-title-position="right" title="Admin Operations">
        <i class="PI_permission"></i><span>Admin Operations</span>
    </div> --}}
</div>
<div class="zpl_mnicn">
    <span class="item"></span>
    <span class="item"></span>
    <span class="item"></span>
</div>