<div>
    <ul>
        <li class="tooltip-js" data-title-position="left" title="Quick Actions"><i class="PI_quick_action fil"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Ask HR"><i class="PI_askhr"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Referral"><i class="PI_referal"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Subscription"><i class="PI_subscription"></i></li>
    </ul>
</div>

<div>
    <ul>
        <li class="tooltip-js" data-title-position="left" title="Notes"><i class="PI_notes1"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Help"><i class="PI_help1"></i></li>
        <li class="tooltip-js" data-title-position="left" title="Night Mode">
            <i class="PI_thememod"><i class="path1"></i><i class="path2"></i><i class="path3"></i><i class="path4"></i><i class="path5"></i><i class="path6"></i><i class="path7"></i></i>
        </li>
    </ul>
</div>