<div class="zpl_secn">
    <div>
        <table class="zpl_tblbdr">
            <tbody>
                <tr>
                    <td>
                        <div class="zpl_em">
                            <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                            <div class="zpl_emdts">
                                <div><em>1500 - </em><b>Kate Winslet</b></div>
                            </div>
                        </div>
                    </td>
                    <td width="300">
                        <select class="select-js">
                            <option>Mananger</option>
                            <option>Admin</option>
                            <option>Super Admin</option>
                            <option>Senior Engineer</option>
                            <option>Engineer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="zpl_em">
                            <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                            <div class="zpl_emdts">
                                <div><em>1500 - </em><b>Kate Winslet</b></div>
                            </div>
                        </div>
                    </td>
                    <td width="300">
                        <select class="select-js">
                            <option>Mananger</option>
                            <option>Admin</option>
                            <option>Super Admin</option>
                            <option>Senior Engineer</option>
                            <option>Engineer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="zpl_em">
                            <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                            <div class="zpl_emdts">
                                <div><em>1500 - </em><b>Kate Winslet</b></div>
                            </div>
                        </div>
                    </td>
                    <td width="300">
                        <select class="select-js">
                            <option>Mananger</option>
                            <option>Admin</option>
                            <option>Super Admin</option>
                            <option>Senior Engineer</option>
                            <option>Engineer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="zpl_em">
                            <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                            <div class="zpl_emdts">
                                <div><em>1500 - </em><b>Kate Winslet</b></div>
                            </div>
                        </div>
                    </td>
                    <td width="300">
                        <select class="select-js">
                            <option>Mananger</option>
                            <option>Admin</option>
                            <option>Super Admin</option>
                            <option>Senior Engineer</option>
                            <option>Engineer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="zpl_em">
                            <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                            <div class="zpl_emdts">
                                <div><em>1500 - </em><b>Kate Winslet</b></div>
                            </div>
                        </div>
                    </td>
                    <td width="300">
                        <select class="select-js">
                            <option>Mananger</option>
                            <option>Admin</option>
                            <option>Super Admin</option>
                            <option>Senior Engineer</option>
                            <option>Engineer</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="zpl_em">
                            <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                            <div class="zpl_emdts">
                                <div><em>1500 - </em><b>Kate Winslet</b></div>
                            </div>
                        </div>
                    </td>
                    <td width="300">
                        <select class="select-js">
                            <option>Mananger</option>
                            <option>Admin</option>
                            <option>Super Admin</option>
                            <option>Senior Engineer</option>
                            <option>Engineer</option>
                        </select>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>