<div class="zpl_header">
    <div class="zpl_mnLgo CP">
        <img src="../../images/People-logo.png" alt="Zoho People">
    </div>
    {{!-- <div class="zpl_glsrch">
        <div> 
            <i class="PI_lens"></i>
            <input placeholder="Search Across Zoho People" type="text">
        </div>
    </div> --}}
    {{!-- <div class="zpl_rProf">
        <ul class="zpl_rnav">
            <!-- <li class="sep"><i class="IC-week"></i></li> -->
            <li class="zpl_navsrch" data-popup-open="zpl_glsrch"><i class="PI_lens"></i></li>
            <li onclick="moduswtch('settings')" class="tooltip-js" data-title-position="bottom" title="Settings"><i class="PI_setting"></i></li>
            <li class="tooltip-js" data-title-position="bottom" title="Notifications"><i class="PI_notify"></i></li>
        </ul>
        <div class="zpl_Nvpic">
            <img src="../../images/users/zp-02.jpg">
        </div>
        <ul class="zpl_rnav">
            <li class="tooltip-js" data-title-position="bottom" title="Applications"><i class="PI_app"></i></li>
        </ul>
    </div> --}}
    <div class="zpl_rProf">
        {{!-- <div class="zpl_glsrch">
            <div data-popup-open="zpl_glsrch"> 
                <i class="PI_lens"></i>
                <input placeholder="Search Across Zoho People" type="text">
            </div>
        </div> --}}
        <ul class="zpl_rnav">
            <!-- <li onclick="moduswtch('settings')" class="tooltip-js" data-title-position="bottom" title="Settings"><i class="PI_setting"></i></li> -->
            <li class="tooltip-js" data-title-position="bottom" title="Notifications"><i class="PI_notify"></i></li>
            <li class="zpl_Nvpicimg"> <div class="zpl_Nvpic" data-popup-open="proflorg"><img src="../../images/tony.jpg"></div></li>
        </ul>
        <ul class="zpl_rnav">
            <li class="tooltip-js" data-title-position="bottom" title="Applications"><i class="PI_app"></i></li>
        </ul>
    </div>
</div>