<div class="zpl_container DN" id="home_approval">
   <div class="zpl_iwrpr">
      <div class="zpl_iwrprrgt">
         <div class="zpl_act">
            <div class="zpl_rgtcnt">
               <div class="zpl_aprvl">
                    <div class="zpl_aprvlft">
                        <div class="zpl_aprvemcrd zpl_act">
                            <div class="zcheckbox">
                                <input type="checkbox" name="check" value="" class="zcheckbox__helper" id="apprv">
                                <label class="zcheckbox__label" for="apprv"></label>
                            </div>
                            <div class="zpl_em">
                                <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                                <div class="zpl_emdts">
                                    <em>1500 - </em><span>Kate Winslet</span>
                                    <div>
                                    <em>1 day ago</em>
                                    </div>
                                    <div class="zpl_arwlst">
                                    <i class="PI_caslv ylw"></i> <b>Leave</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_aprvemcrd">
                            <div class="zcheckbox">
                                <input type="checkbox" name="check" value="" class="zcheckbox__helper" id="apprv1">
                                <label class="zcheckbox__label" for="apprv1"></label>
                            </div>
                            <div class="zpl_em">
                                <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                                <div class="zpl_emdts">
                                    <em>1500 - </em><span>Kate Winslet</span>
                                    <div>
                                    <em>1 day ago</em>
                                    </div>
                                    <div>
                                    <b>2 Days</b> <span>Sick Leave</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_aprvemcrd">
                            <div class="zcheckbox">
                                <input type="checkbox" name="check" value="" class="zcheckbox__helper" id="apprv2">
                                <label class="zcheckbox__label" for="apprv2"></label>
                            </div>
                            <div class="zpl_em">
                                <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                                <div class="zpl_emdts">
                                    <em>1500 - </em><span>Kate Winslet</span>
                                    <div>
                                    <em>1 day ago</em>
                                    </div>
                                    <div class="zpl_arwlst">
                                    <span>ID</span><span>TRA21</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_aprvemcrd">
                            <div class="zcheckbox">
                                <input type="checkbox" name="check" value="" class="zcheckbox__helper" id="apprv3">
                                <label class="zcheckbox__label" for="apprv3"></label>
                            </div>
                            <div class="zpl_em">
                                <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                                <div class="zpl_emdts">
                                    <em>1500 - </em><span>Kate Winslet</span>
                                    <div>
                                    <em>1 day ago</em>
                                    </div>
                                    <div class="zpl_arwlst">
                                    <b>General</b>
                                    <i class="PI_argt blu"></i>
                                    <b>My shift</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_aprvemcrd">
                            <div class="zcheckbox">
                                <input type="checkbox" name="check" value="" class="zcheckbox__helper" id="apprv4">
                                <label class="zcheckbox__label" for="apprv4"></label>
                            </div>
                            <div class="zpl_em">
                                <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                                <div class="zpl_emdts">
                                    <em>1500 - </em><span>Kate Winslet</span>
                                    <div>
                                    <em>1 day ago</em>
                                    </div>
                                    <div class="zpl_arwlst">
                                    <span>10 Jan 2021</span>
                                    <i class="PI_argt blu"></i>
                                    <span>10 Jun 2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_aprvemcrd">
                            <div class="zcheckbox">
                                <input type="checkbox" name="check" value="" class="zcheckbox__helper" id="apprv4">
                                <label class="zcheckbox__label" for="apprv4"></label>
                            </div>
                            <div class="zpl_em">
                                <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                                <div class="zpl_emdts">
                                    <em>1500 - </em><span>Kate Winslet</span>
                                    <div>
                                    <em>1 day ago</em>
                                    </div>
                                    <div class="zpl_arwlst">
                                    <span>10 Jan 2021</span>
                                    <i class="PI_argt blu"></i>
                                    <span>10 Jun 2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_aprvemcrd">
                            <div class="zcheckbox">
                                <input type="checkbox" name="check" value="" class="zcheckbox__helper" id="apprv4">
                                <label class="zcheckbox__label" for="apprv4"></label>
                            </div>
                            <div class="zpl_em">
                                <div class="zpl_emimg"><img src="../../images/ui.png"></div>
                                <div class="zpl_emdts">
                                    <em>1500 - </em><span>Kate Winslet</span>
                                    <div>
                                    <em>1 day ago</em>
                                    </div>
                                    <div class="zpl_arwlst">
                                    <span>10 Jan 2021</span>
                                    <i class="PI_argt blu"></i>
                                    <span>10 Jun 2021</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                  <div class="zpl_aprvlmid">
                     Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                  </div>
                    <div class="zpl_aprvlrgt">
                    <div class="zpl_aprvcrd">
                        <h6>Previous leave details</h6>
                        <div class="zpl_lvlst">
                            <div class="zpl_arwlst">
                                <div>
                                <b>Jan,03 2021</b>
                                <em>Mon</em>
                                </div>
                                <i class="PI_argt blu"></i>
                                <div>
                                <b>Jan,04 2021</b>
                                <em>Fri</em>
                                </div>
                            </div>
                            <div class="zpl_aprv_stus">
                                <div>
                                <b>2 Days Sick leave</b>
                                </div>
                                <div class="zpl_rgtaprv">
                                <span class="grn">Approved</span>
                                <div class="zpl_tick">
                                    <i class="PI_argt whi"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_lvlst">
                            <div class="zpl_arwlst">
                                <div>
                                <b>Dec,03 2020</b>
                                <em>Mon</em>
                                </div>
                                <i class="PI_argt blu"></i>
                                <div>
                                <b>Dec,04 2021</b>
                                <em>Fri</em>
                                </div>
                            </div>
                            <div class="zpl_aprv_stus">
                                <div>
                                <b>2 Days ID Casual leave</b>
                                </div>
                                <div class="zpl_rgtaprv">
                                <span class="grn">Approved</span>
                                <div class="zpl_tick">
                                    <i class="PI_argt whi"></i>
                                </div>
                                </div>
                            </div>
                            <div class="zpl_idiv">
                                <a class="zpl_lnkbg">More <i class="PI_argt"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="zpl_aprvcrd">
                        <div class="zpl_lvebalnc">
                            <div class="zpl_slbalnc">
                                <b>12</b>
                                <em>/24</em>
                            </div>
                            <div class="zpl_slb">
                                <strong>Sick Leave balance</strong>
                                <i class="PI_sicklv ylw"></i>
                            </div>
                            <div class="zprogress" style="background:#DBDBDB;">
                                <div class="zprogress__bar" style="background:#E05654; width: 20%;">
                                </div>
                            </div>
                            <div class="zpl_slb">
                                <em>Balance after booked leave</em>
                                <b>10</b>
                            </div>
                        </div>
                        <div class="zpl_emlve">
                            <div>
                                <a href="#">2 Employees</a>
                                <em> on leave for same dates</em>
                            </div>
                            <div class="zpl_emlvergt">
                                <div class="zpl_em">
                                <div class="zpl_emimg">
                                    <img src="../../images/ui.png">
                                    <img src="../../images/ui.png">
                                </div>
                                <div class="zpl_emdts">
                                    <i class="PI_argt gry"></i>
                                </div>
                                </div>
                            </div>
                        </div>
                        <div class="zpl_bradscr">
                            <div class="zpl_bradtxt">
                                <b>Bradford score</b>
                                <em>04 Jan 2021 - 10 Jan 2021</em>
                            </div>
                            <div class="zpl_bradlevl">
                                <b>06</b>
                                <em>Level 1</em>
                            </div>
                        </div>
                        <div class="zpl_idiv">
                            <a class="zpl_lnkbg">Other leave balance <i class="PI_argt"></i></a>
                        </div>
                    </div>
                    </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>