<div class="zpl_container" id="home_dash">
    <div class="zpl_iwrpr">
        <div class="zpl_iwrprrgt" style="padding:0;">
            <div class="zpl_act">
                <div class="zpl_rgtcnt">
                    <div id="me_dash">
                        <img src="../../images/cmn/dash.png" style="">
                        {{!-- <img src="../../images/cmn/idea.png" style="    padding: 0 2px;position: absolute;right: 67px;top: 70px;height: 283px;width: 380px;border: 3px solid red;"> --}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>