<div class="zpl_container DN" id="home_organization">
    <div class="zpl_iwrpr">
        <div class="zpl_iwrprrgt">
            <div class="zpl_act">
                <div class="zpl_rgtcnt">
                    <ul class="tab-pane">
                            {{!-- <li listid="" title="Dashboard" ><a onclick="showsubtabs('org_dash',this)">Dashboard</a></li> --}}
                            <li listid="" title="Anouncements" class="zpl_act"><a onclick="showsubtabs('org_anoun',this)">Anouncements</a></li>
                            <li listid="" title="Employees" class=""><a onclick="showsubtabs('org_emp',this)">Employees</a></li>
                            <li listid="" title="File"><a onclick="showsubtabs('org_file',this)">File</a></li>
                    </ul>
                    {{!-- <div class="zpl_btnmnu" style="padding-right: 20px;position: absolute;width: auto;right: 0;left: unset;">
                            <div class="zpl_rgt">
                                <button class="zlabel zlabel--blue zlabel--medium" data-popup-open="">Change view</button>
                            </div>
                    </div> --}}
                    {{!-- <div id="org_dash">
                        <img src="../../images/cmn/dash.png">
                    </div> --}}
                    <div id="org_anoun" class="">
                        <img src="../../images/cmn/feed.png" alt="">
                    </div>
                    <div id="org_emp" class="DN" style="padding-left: 20px;">
                        <img src="../../images/cmn/view.png" alt="" style="width: 230px;/* right: 26px; */margin: -10px auto 15px;/* top: 0; */margin-right: 28px;display: block;">
                        <img src="../../images/cmn/tree.png" alt="">
                    </div>
                    <div id="org_file" class="DN" style="padding-left: 10px;">
                        <img src="../../images/cmn/view.png" alt="" style="    width: 260px;/* right: 26px; */margin: -7px auto 15px;/* top: 0; */margin-right: 28px;display: block;position: absolute;right: 82px;top: 60px;">
                        <img src="../../images/cmn/file.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>