<div class="zpl_container DN" id="home_team">
    <div class="zpl_iwrpr">
        <div class="zpl_iwrprrgt">
            <div class="zpl_act">
               <div class="zpl_rgtcnt">
                    <ul class="tab-pane">
                            {{!-- <li listid="" title="Dashboard" class="zpl_act"><a onclick="showsubtabs('team_dash',this)">Dashboard</a></li> --}}
                            <li listid="" title="Feeds" class="zpl_act"><a onclick="showsubtabs('team_feed',this)">Feeds</a></li>
                            <li listid="" title="Team" class=""><a onclick="showsubtabs('team_team',this)">Team</a></li>
                            <li listid="" title="Subordinate" class="mangvw"><a onclick="showsubtabs('team_sub',this)">Subordinate</a></li>
                    </ul>
                    {{!-- <div id="team_dash">
                        <img src="../../images/cmn/dash.png">
                    </div> --}}
                    <div id="team_feed">
                        <img src="../../images/cmn/feed.png" alt="">
                    </div>
                    <div id="team_team" class="DN" style="padding-left: 4px;">
                        <img src="../../images/cmn/view.png" alt="" style="width: 230px;/* right: 26px; */margin: -10px auto 15px;/* top: 0; */margin-right: 28px;display: block;">
                        <img src="../../images/cmn/team.png" alt="">
                    </div>
                    <div id="team_sub" class="DN">
                        <img src="../../images/cmn/report.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>